@charset "UTF-8";
@import "https://fonts.googleapis.com/css?family=Raleway:100,300,600";
@import "https://fonts.googleapis.com/css?family=Alex+Brush";

/*******	Body	*******/
* {
  box-sizing: border-box;
}

body {
	line-height: 200%;
	height: 100%;
	font-size: 110%;
	font-family: "Raleway", Arial, Helvetica, sans-serif;
	background-color: rgb(234, 234, 233);
}

/******* Titres *******/
p {
	color: rgb(77, 87, 77);
	position: relative;
	margin: 2vh 0 2vh 0;
	text-align: justify;
}

h1 {
	padding: 9%;
	font-family: 'Alex Brush';
	font-size: 400%;
	float: left;
}

@media (max-width:1200px) {
  h1 {
		margin-top:0;
    float:none;
    padding: 20px;
	}
}

h2 {
	font-size: 125%;
	margin-top: -1em;
}

h3 {
	font-size: 110%;
	margin-top: -0.8em;
}

h4, h5, h6 {
	font-size: 90%;
	margin-top: -0.6em;
}

/*******	Bordure	*******/
.bordure {
	margin: 5vh 0 5vh 0;
	border-bottom: 1px solid #333;
}

.bordure_transparent {
	margin-bottom: 5vh;
	border-bottom: 1px solid rgb(0,0,0,0);
}

@media (max-width:740px) {
  .bordure {
    margin-top: 5vh;
  }
}


/******* Banner *******/
#astronomie {
	background-image: url("../imgs/part_1/slide_1.jpg");
	background-repeat: no-repeat;
	background-position: bottom right;
	background-attachment: fixed;
	height: 45vh;
	text-align: center;
	background-size: cover;
}

#gastronomie {
	background-image: url("../imgs/part_2/slide_2.jpg");
	background-repeat: no-repeat;
	background-position: bottom right;
	background-attachment: fixed;
	height: 45vh;
	text-align: center;
	background-size: cover;
}

#musique {
	background-image: url("../imgs/part_3/slide_3.jpg");
	background-repeat: no-repeat;
	background-position: bottom right;
	background-attachment: fixed;
	height: 45vh;
	text-align: center;
	background-size: cover;
}

#nature {
	background-image: url("../imgs/part_4/slide_4.jpg");
	background-repeat: no-repeat;
	background-position: bottom right;
	background-attachment: fixed;
	height: 45vh;
	text-align: center;
	background-size: cover;
}

@media (max-width:1200px) {
  	.banner {
      height: 65vh;
    }
}

@media (orientation: landscape) {
  .banner {
    height: 100vh;
  }
}

.logo {
	margin-top: 5vh;
	width: 15%;
	float:left;
}

@media (max-width:1200px) {
  .logo {
    width: 200px;
    float:none;
  }
}

/*******	Navigation	*******/
.nav {
  background-color: #4d4d4d;
  padding: 0;
  position: sticky;
  top: 0;
  z-index: 10;
  text-align: center;
}

.nav-btn {
  display: none;
}

.nav-links {
  display: inline;
}

a {
	width: 10vw;
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: #efefef;
}

a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

#nav-check {
  display: none;
}

@media (min-width:620px) and (max-width:1200px) {
  .nav a {
    width:19vw;
  }
}

@media (max-width:620px) {
	.nav {
		  height: 50px;
			text-align: left;
	}

	.nav-btn {
	  display: inline-block;
	}

	.nav-links {
		text-align: center;
	}

	label {
	  display: inline-block;
	  width: 50px;
	  height: 50px;
	  padding: 13px;
	}

	label:hover {
	  background-color: rgba(0, 0, 0, 0.3);
	}

	span {
	  display: block;
	  width: 25px;
	  height: 10px;
	  border-top: 2px solid #eee;
	}

	.nav-links {
	  position: absolute;
	  display: block;
	  width: 100%;
	  background-color: #333;
	  height: 0px;
	  transition: all 0.3s ease-in;
     overflow-y: hidden;
	  top: 50px;
	}

	a {
	  display: block;
	  width: 100%;
	}

	#nav-check:checked ~ .nav-links {
	  height: calc(307px);
	  overflow-y: auto;
	}
}

.sticky {
    top: 0;
		width: 100%;
    position: fixed;
		text-align: center;
		box-shadow: 0px 1px 15px #111;
}

/*******	Flex	*******/
.flex {
	display: flex;
	flex-wrap: wrap;
}

.flex article {
	width: 100%;
  margin-bottom: 5vh;
}

@media (min-width:620px) and (max-width:1200px) {
  .flex article {
    width: 45%;
    margin-bottom: 3em;
  }
}


@media (max-width: 620px) {
	.flex article {
		width: 100%;
		margin-bottom: 3em;
	}
}

/*******	Inner	*******/
.inner {
	max-width: 60vw;
	margin: auto;
	padding: 6vh 0;
}

.inner p {
  text-indent: 5vh;
}

.inner header h2,
.inner header h3  {
  font-size: 140%;
	text-align: center;
	margin: 5vh;
}

.inner article h3 {
	text-align: left;
  margin: 3vh;
}

.inner header h2 {
	font-size: 2.75em;
	margin: 0 0 .5em 0;
}

@media (min-width:620px) and (max-width:1200px) {
  .inner {
		max-width: 90%;
	}
}

@media (max-width:620px) {
	.inner {
		max-width: 85%;
	}
}

/*******	Image	*******/
.image {
  float: left;
  width: 50%;
  padding: 0 3vh 0 0;
}

.image img {
	border-radius: 10px;
  width: 100%;
}

@media (min-width:620px) and (max-width:740px) {
  .image img {
  	width: 90%;
    margin: auto 2vh;
  }
}

@media (max-width:620px) {
  .image {
    float:none;
    width: 100%;
  }

  .image img {
		text-align: center;
	}
}


/* Tableau */
table {
	color:white;
	text-align:justify;
	margin: auto;
}

table th {
	width: 7em;
	text-decoration:underline;
}

/* Footer */
footer table {
	background-color:#333;
	border-color:black;
	border-width: small;
	padding:0;
	text-align: center;
	width: 100%;
}
